.radioWrapper {
  display: inline-flex;
  width: calc(98%);
  margin-left: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
.option-1{
  margin-right: 20px;
}
.option-3{
  margin-left: 20px;
}
.radioWrapper .option {
  background: #000;
  height: calc(3vh + 2px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.5s;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3 {
  border-color: #FF0086;
  background: #FF0086;
  box-shadow: 0 0 10px #FF0086;
  text-shadow: 0 0 10px #000;
}
.radioWrapper .option span {
  font-size: 18px;
  color: gray;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span {
  color: #000;
}